---
import Layout from '../layouts/Base.astro';
import Icon from 'astro-iconify';

console.log(process.versions.bun)

export const prerender = true;
---

<Layout title="NPM Semver Calculator">
	<main class="min-h-screen dark:bg-gradient-to-b dark:from-slate-900 dark:to-purple-900 dark:text-white">
    <div class="w-full flex max-w-xl mx-auto flex-col gap-y-4 p-4">
      <header class="my-16">
        <h1 class="text-4xl text-center">
          <Icon name="mdi:npm" alt="NPM" class="w-16 h-16 inline-block text-red-500"/> Semver Calculator
        </h1>
        <p class="text-center dark:text-slate-300">
          New to semantic versioning? <a class="text-purple-600 dark:text-white hover:underline" href="https://docs.npmjs.com/getting-started/semantic-versioning" target="_blank" rel="noopener noreferrer">Learn more</a>.
        </p>
      </header>
      <fieldset class="flex flex-wrap gap-x-2">
        <label for="package" class="w-full my-1">enter a package</label>
        <input name="package" type="text" placeholder="lodash" class="dark:shadow flex-grow p-2 rounded dark:bg-slate-700 outline-none border-2 border-zinc-200 dark:border-transparent focus:border-blue-500 dark:focus:border-blue-300">
        <button class="dark:shadow flex-shrink bg-indigo-600 hover:bg-indigo-500 text-white dark:bg-indigo-800 dark:hover:bg-indigo-700 px-6 py-2 rounded">Load</button>
      </fieldset>
      <fieldset class="flex flex-col">
        <label for="range" class="w-full my-1">enter a semver range</label>
        <input name="range" type="text" placeholder="^3.2.0" value="^3.2.0" class="p-2 rounded dark:shadow dark:bg-slate-700 outline-none border-2 border-zinc-200 dark:border-transparent focus:border-blue-500 dark:focus:border-blue-300">
      </fieldset>
  
      <p class="text-center text-purple-600 dark:text-white hover:underline">
        <a id="pkg-link" href="https://npmjs.com/package/lodash" target="_blank" rel="noopener noreferrer"><span id="pkg-name">lodash</span> on npmjs.com</a>
      </p>
    </div>

    <ul class="p-4 versions min-h-[24rem] columns-[10rem] [&_li]:block [&_code]:text-center [&_li]:w-fit [&_li]:mx-auto [&_code]:bg-zinc-100 dark:[&_code]:bg-zinc-800 [&_code]:text-zinc-500 dark:[&_code]:text-zinc-400 [&_code]:px-2 [&_code]:rounded [&_code]:border-2 [&_code]:border-transparent data-[active=true]:[&_code]:bg-green-200 dark:data-[active=true]:[&_code]:bg-green-800 data-[active=true]:[&_code]:text-green-700 dark:data-[active=true]:[&_code]:text-green-400 data-[active=true]:[&_code]:border-green-700 space-y-2"></ul>
  
    <p class="p-4 text-center dark:text-zinc-300">
      Check out the <a class="text-purple-600 dark:text-white hover:underline" href="https://github.com/npm/node-semver#versions" target="_blank" rel="noopener noreferrer">Semver package</a> for more information.
    </p>
  </main>

  <article class="bg-zinc-900 text-white pb-24">
    <h2 class="px-4 py-8 text-2xl text-center">FAQ</h2>
    <ul class="px-4 py-8 space-y-16 max-w-xl mx-auto">
      <li class="space-y-2">
        <h3 class="text-xl">What is this?</h3>
        <p class="text-zinc-300">This is a simple calculator for testing semver ranges against a package's versions.</p>
      </li>
      <li class="space-y-2">
        <h3 class="text-xl">Why? semver.npmjs.com is already a thing.</h3>
        <p class="text-zinc-300">Sometimes it's fun to rewrite a site using a different technology stack. This clone should look cooler and run blazingly™ faster.</p>
      </li>
      <li class="space-y-2">
        <h3 class="text-xl">What is the site built with?</h3>
        <p class="text-zinc-300">This site is built with <a class="text-purple-400 dark:text-white hover:underline" href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a> and <a class="text-purple-400 dark:text-white hover:underline" href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">Tailwind</a>.</p>
      </li>
      <li class="space-y-2">
        <h3 class="text-xl">Where can I find the source code?</h3>
        <p class="text-zinc-300">The source code is available on <a class="text-purple-400 dark:text-white hover:underline" href="https://github.com/TheOtterlord/semver" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
       </li>
    </ul>
  </article>

  <script>
    import { satisfies } from 'semver'

    const pkgName = document.querySelector('#pkg-name') as HTMLSpanElement
    const pkgLink = document.querySelector('#pkg-link') as HTMLAnchorElement
    const pkg = document.querySelector('[name=package]') as HTMLInputElement
    const range = document.querySelector('[name=range]') as HTMLInputElement
    const list = document.querySelector('.versions') as HTMLUListElement

    function update() {
      list.innerHTML = Object.keys(versions).map((version: string) => {
        const active = !!range.value && satisfies(version, range.value)
        return `<li><code data-active="${active}">${version}</code></li>`
      }).join('')
    }
    
    let selected = pkg.value
    let versions = await fetch('/api/lodash').then(res => res.json()).then(res => res.versions)
    console.log(versions)

    update()

    range.addEventListener('input', () => {
      update()
    })

    pkg.addEventListener('keydown', async (e) => {
      if (e.key === 'Enter') {
        pkgName.innerText = pkg.value
        pkgLink.href = `https://npmjs.com/package/${pkg.value}`
        selected = pkg.value
        versions = await fetch(`/api/${encodeURIComponent(selected)}`).then(res => res.json()).then(res => res.versions)
        update()
      }
    })

    document.querySelector('button')?.addEventListener('click', async () => {
      pkgName.innerText = pkg.value
      pkgLink.href = `https://npmjs.com/package/${pkg.value}`
      selected = pkg.value
      versions = await fetch(`/api/${encodeURIComponent(selected)}`).then(res => res.json()).then(res => res.versions)
      update()
    })
  </script>
</Layout>
